<section>
  <app-navbar></app-navbar>
  <h2><b>DASHBOARD MODULE</b></h2>
  <ng-container *transloco="let t">
    <p>{{ t('rootKey') }}</p>
    <p>{{ t('dashboard.notice') }}</p>
    <p>
      {{ t('dashboard.content') }}
    </p>
  </ng-container>
</section>
