<nav class="navbar" role="navigation" aria-label="main navigation">
  <ng-container *transloco="let t;">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://netbasal.gitbook.io/transloco/" target="_blank">
        <img
          src="https://blobscdn.gitbook.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-Lr02d845Wvy6LEBcQF2%2F-Lr08vW3kqhlvqMdbZPE%2F-Lr092Fv_4SIR5h-L80e%2Flogo.png?alt=media&token=566d0dcd-9992-4cae-b74b-50b23178f3aa"
          alt="logo"
          width="112"
          height="100%"
        />
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          {{ t('layouts.home') }}
        </a>

        <a class="navbar-item">
          {{ t('layouts.documentation') }}
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <p>{{ t('layouts.choose_lang')}}:</p>
            &nbsp;
            <a
              class="button"
              [ngClass]="{ 'is-primary': activeLang === 'en', 'is-light': activeLang !== 'en' }"
              (click)="onChangeLang('en')"
            >
              <strong>English</strong>
            </a>
            <a
              class="button"
              [ngClass]="{ 'is-primary': activeLang === 'vi', 'is-light': activeLang !== 'vi' }"
              (click)="onChangeLang('vi')"
            >
              Vietnamese
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nav>
